<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:include="layout :: htmlhead"></head>

<body>
	<div th:replace="layout :: navbar">(navbar)</div>

	<div class="container">
		<h1 th:text="#{admin.user.creation.title}">(User creation)</h1>
		<div class="alert alert-danger" th:if="${param.error != null}"
			th:text="#{login.wrongEmailOrPassword}">
			(Wrong E-Mail or Password.)
			<button type="button" class="close" data-dismiss="alert"
				aria-label="Close">
				<span aria-hidden="true">&times;</span>
			</button>
		</div>
		<form action="#" id="userCreateForm" th:action="@{/user/create}" method="post" class="form-horizontal">
			<input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}" />
			<fieldset>
				<div class="control-group">
					<label class="control-label" for="email" th:text="#{userCreateForm.email.label}">(Email address)</label>
					<input class="form-control" id="email" th:placeholder="#{userCreateForm.email.placeholder}"
						name="email" type="email" autofocus="autofocus" required="required"/>
				</div>
				<div class="control-group">
					<label class="control-label" for="username" th:text="#{userCreateForm.username.label}">(Username)</label>
					<input class="form-control" id="username" th:placeholder="#{userCreateForm.username.placeholder}"
						name="username" required="required"/>
				</div>
				<div class="control-group">
					<label class="control-label" for="password" th:text="#{userCreateForm.password.label}">(Password)</label>
					<input class="form-control" id="password" th:placeholder="#{userCreateForm.password.placeholder}"
						name="password" type="password" required="required"/>
				</div>
				<div class="control-group">
					<label class="control-label" for="passwordRepeated" th:text="#{userCreateForm.password.repeat.label}">(Repeat password)</label>
					<input class="form-control" id="passwordRepeated" th:placeholder="#{userCreateForm.password.repeat.placeholder}"
						name="passwordRepeated" type="password" required="required"/>
				</div>
				<div class="control-group">
					<label class="control-label" for="role" th:text="#{userCreateForm.role.label}">(Role)</label> 
					<div th:each="role :  ${roles}">
						<input id="roles" name="roles" type="checkbox" th:value="${role.id}" style="margin-left: 30px;"/>
					    <label th:text="${role.roleName} + '&nbsp;(' + ${role.roleDescription} + ')'">(roleName)</label>
					</div>
					<!-- <select class="form-control" name="role" id="role" required="required">
						<option>USER</option>
						<option>ADMIN</option>
					</select> -->
				</div>
				<input type="submit" class="btn btn-lg btn-success btn-block" th:value="#{userCreateForm.button.save}" />
				
			</fieldset>
		</form>
		
	</div>

	<div th:include="layout :: footer" id="footer">(footer)</div>

</body>
</html>
