<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:include="layout :: htmlhead"></head>

<body>
	<div th:replace="layout :: navbar">(navbar)</div>

	<div class="container">
		<h1 th:text="#{admin.users.list.title}">(Users list)</h1>
		<table class="table table-hover">
			<thead>
				<tr>
					<th>ID</th>
					<th>Username</th>
					<th>E-mail</th>
					<th>Role</th>
					<th>Age</th>
				</tr>
			</thead>
			<tbody>
				<div th:each="user :  ${users}">
					<tr>
						<td th:text="${user.id}">(ID)</td>
						<td th:text="${user.username}">(Username)</td>
						<td><a th:href="@{/user/{id}(id=${user.id})}" th:text="${user.email}">email</a></td>
						<td th:text="${user.role}">roles</td>
						<td th:text="${user.age}">(Age)</td>
					</tr>
				</div>
			</tbody>
		</table>

	</div>

	<div th:include="layout :: footer" id="footer">(footer)</div>

</body>
</html>
